$bg: #08090b;
$surface: #111318;
$surface2: #191c22;
$line: #2b2f38;

$ink: #f8f7f4;
$muted: #aaa7a0;

$red: #ff4b2b;
$crimson: #ff3d00;
$wine: #c62828;

$soft-ink: #d6d3cc;
$dim: #7d7b75;

$grad: linear-gradient(
  90deg,
  #ffb347 0%,
  #ff5a1f 50%,
  #e53935 100%
);

$bp-sm: 640px;
$bp-md: 760px;
$bp-lg: 860px;

$waves: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 900' preserveAspectRatio='none'%3E%3Cpath d='M-100 180 C220 20 480 380 760 190 C1030 10 1240 300 1540 100' fill='none' stroke='%23ffffff0b' stroke-width='1.5'/%3E%3Cpath d='M-100 300 C220 140 480 500 760 310 C1030 130 1240 420 1540 220' fill='none' stroke='%23ff4d5e0b' stroke-width='1.5'/%3E%3Cpath d='M-100 420 C220 260 480 620 760 430 C1030 250 1240 540 1540 340' fill='none' stroke='%23a3154f0a' stroke-width='1.5'/%3E%3Cpath d='M-100 540 C220 380 480 740 760 550 C1030 370 1240 660 1540 460' fill='none' stroke='%23ffffff07' stroke-width='1.5'/%3E%3C/svg%3E");
$main-font: 'Hypebuzz', sans-serif;



//indigo
// $bg: #0b0a14;         
// $surface: #12101c;     
// $surface2: #1a1729;    
// $line: #2c2740;       
// $muted: #aa9ba2;
// $ink: #f7f0f2;
// $red: #2196f3;
// $crimson: #1565c0;
// $wine: #2196f3;
// $soft-ink: #d3c6cb;
// $dim: #7f7077;

// $indigo: #7986cb;      // Material Indigo 300 (bright accent)
// $indigo-mid: #5c6bc0;  // Material Indigo 400
// $indigo-deep: #303f9f; // Material Indigo 700

// $grad: linear-gradient(90deg, #9fa8da 0%, $indigo-mid 55%, $indigo-deep 100%);

// $bp-sm: 640px;
// $bp-md: 760px;
// $bp-lg: 860px;

// $waves: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 900' preserveAspectRatio='none'%3E%3Cpath d='M-100 180 C220 20 480 380 760 190 C1030 10 1240 300 1540 100' fill='none' stroke='%23ffffff0b' stroke-width='1.5'/%3E%3Cpath d='M-100 300 C220 140 480 500 760 310 C1030 130 1240 420 1540 220' fill='none' stroke='%23ff4d5e0b' stroke-width='1.5'/%3E%3Cpath d='M-100 420 C220 260 480 620 760 430 C1030 250 1240 540 1540 340' fill='none' stroke='%23a3154f0a' stroke-width='1.5'/%3E%3Cpath d='M-100 540 C220 380 480 740 760 550 C1030 370 1240 660 1540 460' fill='none' stroke='%23ffffff07' stroke-width='1.5'/%3E%3C/svg%3E");
